<div>
  <form [formGroup]="adicionarLinkForm">
    <div class="col-sm-12">
      <div class="form-group">
        <label>Url</label>
        <input
          class="form-control"
          type="text"
          formControlName="url"
          placeholder="http://google.com.br"
          required/>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="form-group form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label">
          Lido?
        </label>
      </div>
    </div>
  </form>
</div>
